# Comunichain - Configuración de Entorno

# Stellar Soroban
CONTRACT_ID=CCPS7OWL25OIBYGBMM7EXLFPQBKTOIREWIKYZZR2FM5MTFVOOO6UTMTF
PUBLIC_KEY=GDACK6HOWBCIENKEQZHWI35FBYXRTTGVWGIADAK6BHLM3XP4UQCP6NLN
SECRET_KEY=SDKM74652MDRO3S5CJSTDRXQGN5DMECAF7ITFDGKHJGSKH7DXO4DSTOU
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
RPC_URL=https://soroban-testnet.stellar.org

# Servidor
PORT=3000

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=comunichain

# Passkeys (WebAuthn RP ID)
# Local:   localhost
# Producción: tu-dominio.up.railway.app
RP_ID=localhost
